# Your Shopify Store Domain (e.g., your-store.myshopify.com)
VITE_SHOPIFY_STORE_DOMAIN=kaycent-2.myshopify.com

# Your Shopify Storefront API Access Token
# Make sure to give it "unauthenticated_read_products" scopes in Shopify Admin
VITE_SHOPIFY_STOREFRONT_ACCESS_TOKEN=
